<% include ../partials/header %>



    <header class="jumbotron">
        <div class="container">
            <h1>Income Database for <%=currentUser.username%></h1>
            <p>These are your monthly incomes</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/database/new">Add Database Input </a>
            </p>
        </div>
    </header>
    
    <div class="row text-center">
        <% database.forEach(function(database){ %>
            <div class="card-deck col-lg-3 col-md-4 col-sm-6 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header text-white bg-primary">
                        <h4 class="my-0 font-weight-normal"><%=database.month%> <%=database.year%></h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title inline"><%=database.rate%> <small class="text-muted">€/h</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                        
                          <li>Bonus: <%=database.bonus%>€</li>
                          <li>Leave days: <%=database.vacation%></li>
                          <li>Payout:</li>
                          <li><h4><%=database.payement%>€</h4></li>
                        </ul>
                        <a href="/database/<%= database._id %>" class="btn btn-lg btn-block btn-outline-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
        
        <%=groupdata["2019"][0]%>


    </div>

<% include ../partials/footer %>