<% include ../partials/header %>

    
    <div class="row justify-content-center">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1><%=database.month%> Dashboard</h1>
            <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
          </div>
    </div>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <div>
    <div class="row d-flex justify-content-around">
        <div class="col-7">
            <div class="card border-secondary mb-3" >
                <div class="card-header"> <h4><strong>Workdays</strong></h4></div>
                <div class="card-body text-secondary">
                  <div class="table-responsive">
                    <table class="table table-hover ">
                      <thead class="thead-dark">
                        <tr>
                          <th><%= database.month%></th>
                          <th>Days</th>
                          <th>Hours</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Workdays</td>
                          <td><%= database.workdays%> days</td>
                          <td><%= database.workdays*8%>h</td>
                        </tr>
                        <tr>
                            <td>Sickleave</td>
                            <td><%= database.sickleave%> days</td>
                            <td><%= database.sickleave*8%>h</td>
                          </tr>
                        <tr>
                            <td>Vacation</td>
                            <td><%= database.vacation%> days</td>
                            <td><%= database.vacation*8%>h</td>
                          </tr>
                        <tr class="table-primary">
                          <td>Sum</td>
                          <td><%= database.netdays%> days</td>
                          <td><%= database.workhours%>h</td>
                        </tr>
                      </tbody>
                  </table>  
                </div>
            </div>
          </div>
        </div>
        <div class="col-5">
            <div class="card border-secondary mb-3" >
                <div class="card-header"> <h4><strong>NPU</strong></h4></div>
                <div class="card-body text-secondary">
                  <div class="table-responsive">
                    <table class="table table-hover ">
                      <thead class="thead-dark">
                        <tr>
                          <th>Name</th>
                          <th>Base</th>
                          <th>Level</th>
                          <th>Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>NPU maximum</td>
                          <td>-</td>
                          <td>-</td>                              
                          <td><%= currentUser.maxNPU%>€</td>

                        </tr>
                        <tr>
                          <td>NPU met</td>
                          <td><%= currentUser.metNPU%>%</td>
                          <td><%= currentUser.maxNPU%>€</td>
                          <td><%= currentUser.metNPU*currentUser.maxNPU%>€</td>
                        </tr>
                        <tr class="table-primary">
                          <td><%= database.month%> NPU</td>
                          <td><%= (currentUser.metNPU*currentUser.maxNPU / 174).toFixed(2)%> €/h</td>
                          <td><%= database.workhours%>h</td>
                          <td><%= database.grossNPU%>€</td>
                        </tr>
                      </tbody>
                  </table>  
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-5">
          <div class="card border-secondary mb-3" >
              <div class="card-header"> <h4><strong>Costbenefits</strong></h4></div>
              <div class="card-body text-secondary">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead class="thead-dark">
                      <tr>
                        <th>Name</th>
                        <th>Base</th>
                        <th>Level</th>
                        <th>Value(€)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Lunch</td>
                        <td><%= database.netdays%> days</td>
                        <td>6.12 €/day</td>
                        <td><%= database.netdays*6.12%>€</td>
                      </tr>
                      <tr>
                        <td>Transport costs</td>
                        <td><%= database.netdays%> days</td>
                        <td>-</td>
                        <td>37€</td>
                      </tr>
                      <tr class="table-primary">
                        <td>Sum</td>
                        <td></td>
                        <td></td>
                        <td><%= database.netdays*6.12 + 37%>€</td>
                      </tr>
                    </tbody>
                </table>  
              </div>
          </div>
        </div>
      </div>
      <div class="col-7">
          <div class="card border-secondary mb-3" >
              <div class="card-header"> <h4><strong>Tax and Social Contributions</strong></h4></div>
              <div class="card-body text-secondary">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead class="thead-dark">
                      <tr>
                        <th>Name</th>
                        <th>Base</th>
                        <th>Level</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Tax contributions</td>
                        <td><%= database.grosspayment%>€</td>
                        <td>22.2%</td>
                        <td><%= database.taxcontributions%>€</td>
                      </tr>
                      <tr>
                        <td>Social contributions</td>
                        <td><%= database.grosspayment%>€</td>
                        <td>22.1%</td>
                        <td><%= database.socialcontributions%>€</td>
                      </tr>
                      <tr class="table-primary">
                        <td>Sum</td>
                        <td></td>
                        <td></td>
                        <td><%= (database.taxcontributions + database.socialcontributions).toFixed(2)%>€</td>
                      </tr>
                    </tbody>
                </table>  
              </div>
          </div>
        </div>
      </div>

      
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-12">
            <div class="card border-secondary mb-3" >
                <div class="card-header"> <h4><strong>Payout</strong></h4></div>
                <div class="card-body text-secondary">
                  <div class="table-responsive">
                    <table class="table table-hover ">
                      <thead class="thead-dark">
                        <tr>
                          <th>Gross Payout</th>
                          <th>Base</th>
                          <th>Rate</th>
                          <th>Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Base</td>
                          <td><%= database.workhours%>h</td>
                          <td><%= database.rate%> €/h</td>
                          <td><%= (database.workhours*database.rate).toFixed(2)%>€</td>
                        </tr>
                        <tr>
                          <td>Paid leave</td>
                          <td><%= (database.sickleave + database.vacation)*8%>h</td>
                          <td>12.28 €/h</td>
                          <td><%= ((database.sickleave + database.vacation)*8*12.28).toFixed(2)%>€</td>
                        </tr>
                        <tr>
                          <td>National Holidays</td>
                          <td><%= database.holiday*8%>h</td>
                          <td>12.18 €/h</td>
                          <td><%= (database.holiday*8*12.18).toFixed(2)%> €</td>
                        </tr>
                        <tr>
                          <td>NPU</td>
                          <td><%= database.workhours%>€</td>
                          <td><%= (currentUser.metNPU*currentUser.maxNPU / 174).toFixed(2)%> €/h</td>
                          <td><%= database.grossNPU%>€</td>
                        </tr>
                        <tr class="table-primary">
                          <td>Sum</td>
                          <td><%= (database.workdays+database.holiday)*8%>h</td>
                          <td>-</td>
                          <td><%= database.grosspayment%>€</td>
                        </tr>
                      </tbody>
                  </table>
                  <div class="table-responsive">
                      <table class="table table-hover magnified">
                        <thead class="thead-dark">
                          <tr>
                            <th>Net Payout</th>
                            <th id="netPayoutValue">Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Gross</td>

                            <td class="netpayout"><%= database.grosspayment%>€</td>
                          </tr>
                          <tr>
                            <td>Tax</td>

                            <td class="contributions netpayout"><%= database.taxcontributions%>€</td>
                          </tr>
                          <tr>
                            <td>Social</td>

                            <td class="contributions netpayout"><%= database.socialcontributions%>€</td>
                          </tr>
                          <tr class="table-primary">
                            <td><strong>Net Salary</strong></td>

                            <td  class="netpayout"><strong><%= database.netsalary%>€</strong></td>
                          </tr>
                          <tr>
                            <td>Benefits</td>

                            <td class="benefits netpayout"><%= database.costbenefits%>€</td>
                          </tr>
                          <tr>
                          <tr class="table-success">
                            <td><strong>Net Payout</strong></td>

                            <td class="netpayout"><strong><%= database.netpayment%>€</strong></td>
                          </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
          </div>
        </div>
        
    </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-12 mb-5">
        <a class="btn btn-warning" href="/database/<%=database._id %>/edit">Edit</a>
        <form class="delete-form" action="/database/<%=database._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
        <a class="btn btn-primary float-right" href="/database">Back</a>
      </div>
    </div>   
  </div>



<% include ../partials/footer %>