<% include ../partials/header %>

<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>

<div class="row d-flex justify-content-center">
    <div class="col-md-8 order-md-1">
          <h1 class="mb-3">Edit profile form</h1>
            <form class="needs-validation" action="/users/<%=user._id%>?_method=PUT" method="POST">
                <div class="mb-3">
                  <label for="username">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" id="username" name="username" value="<%=user.username%>" required autofocus>
                    <div class="invalid-feedback" style="width: 100%;">
                      Your username is required.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="email">Email </label>
                  <input type="email" class="form-control" id="email" name="email" value="<%=user.email%>" required autofocus>
                  <div class="invalid-feedback">
                    Please enter a valid email address.
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="firstName">First name <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="firstName" name="firstname" placeholder="First name" value="<%=user.firstname%>" autofocus>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="lastName">Last name <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="lastName" name="lastname" placeholder="Last name" value="<%=user.lastname%>" autofocus>
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="avatar">Avatar <span class="text-muted">(Optional)</span></label>
                  <input type="text" class="form-control" id="avatar" name="avatar" value="<%=user.avatar%>" autofocus>
                  <div class="invalid-feedback">
                    Please enter a valid avatar URL.
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                     <label for="country_selector">Country <span class="text-muted">(Optional)</span></label>
                  	
                        <div class="form-item ">
                            <input class="custom-select d-block w-150" name="country" id="country_selector" value="<%=user.country%>" type="text">
                            <label for="country_selector" style="display:none;">Select a country here...</label>
                        </div>
                        <button type="submit" style="display:none;">Submit</button>
                    
                     <script>
                          $("#country_selector").countrySelect({           
                               preferredCountries: ['si','ru', 'ir', 'in']   
                         });                                               
                     </script>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="zip">City <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="zip" name="city" value="<%=user.city%>" >
                  </div>
                </div>
                <hr class="mb-4">
                 <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
                <!--<button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>-->
            </form>
        </div>
      </div>
    
</div>
<% include ../partials/footer %>